<div class="home">
    <div class="home-container">
        <img src="home.jpg" alt="home image">
        <div class="home-text">
            <h1>Welcome to the Video Game Ratings Application</h1>
            <p>
                This is a simple application that allows you to review and rate video games.
                To do this, you must be a registered user.
                You can also created new games and edit your existing ones by being a registered administrator.
            </p>
        </div>
    </div>
    <div class="admin-container">
        <h2>Administrator Abilities</h2>
        <img src="admin.jpg" alt="admin image">
        <p>
            As an administrator, you can create new games, edit your exisitng games, and delete your games. You can also view all the games and reviews that have been created by all users.
        </p>
    </div>
    <div class="user-container">
        <h2>User Abilities</h2>
        <img src="user.jpg" alt="user image">
        <p>
            As a user, you can view all the games and reviews that have been created by all users. You can post your own reviews along with a rating on a scale of 1 to 10 for each game. These reviews can be edited or deleted by you as well.
        </p>
    </div>
</div>